{% extends "base.html" %}

{% block title %}
Attendance{% endblock %}

{% block head %}
<h2>Apply Attendance</h2>


<div class="container mt-5">
    
    <div class="row">
        
        <div class="col-md-3"></div>
        
        <div class="col-md-6">
            
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role='alert'>
                <strong></strong>{{message}}
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
            {% endfor %}
            
            
            <form action="/attendance/" method='post'>
                {% csrf_token %}
                
                
                <div class="form-group">
                    <input type="number" class='form-control mt-2'  value='{{user.username}}' name="PhoneNumber" placeholder='Enter Your Number' id="" readonly required>
                </div>
                
                
                <div class="form-group">
                    
                    <select class='form-control mt-2' name="workout" id="workout" required>
                        <option selected>Select Workout</option>
                        <option value="Biceps">Biceps</option>
                        <option value="Triceps">Triceps</option>
                        <option value="Shoulders">Shoulders</option>
                        <option value="Chest">Chest</option>
                        <option value="ABS">ABS</option>
                        <option value="Back">Back</option>
                        <option value="Warm Up">Warm Up</option>
                        <option value="Treadmill">Treadmill</option>
                    </select>
                </div>
                
                
                
                <div class="form-group">
                    <label for="Logintime" class='text-white'>Log In</label>
                    <input type="time" class='form-control mt-2' name="Logintime" placeholder='Login' id="logintime" required>
                </div>
                
                
                <div class="form-group">
                    <label for="logout" class='text-white'>Log Out</label>
                    <input type="time" class='form-control mt-2' name="logout" placeholder='Logout' id="logout" required>
                </div>
                
                <div class="form-group mt-2">
                    <select class='form-control' name="trainer" id="" required>
                        <option selected value="">Select Trainer</option>
                        {% for p in SelectTrainer %}
                        
                        <option value="{{p.name}}">{{p.name}}</option>
                        
                        
                        {% endfor %}
                    </select>
                </div>
                
               <br>
                
                <div class="d-grid gap-2">
                    <button class="btn btn-warning" type='submit'>Apply Attendance</button>
                </div>
                
            </form>
            
            
            
            
        </div>
    </div>
</div>




{% endblock %}