{% extends "base.html" %}

{% block title %}
Enrollment for Gym
{% endblock %}

{% block head %}
<h2>Join The Gym in Yeola</h2>


<div class="container mt-5">
    
    <div class="row">
        
        <div class="col-md-3"></div>
        
        <div class="col-md-6">
            
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role='alert'>
                <strong></strong>{{message}}
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
            {% endfor %}
            
            
            <form action="/join/" method='post'>
                {% csrf_token %}
                
                <div class="form-group">
                    <input type="text" class='form-control' name="FullName" placeholder='Enter Your Full Name' id="" required>
                </div>
                
                <div class="form-group">
                    <input type="email" class='form-control mt-2' name="email" value='{{user.email}}' placeholder='Enter Your Email' id="" readonly required>
                </div>
                
                
                <div class="form-control mt-2">
                    
                    <select class='form-control mt-2' name="gender" id="gender" required>
                        <option selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                
                
                <div class="form-group">
                    <input type="number" class='form-control mt-2'  value='{{user.username}}' name="PhoneNumber" placeholder='Enter Your Number' id="" readonly required>
                </div>
                
                
                <div class="form-group">
                    <input type="date" class='form-control mt-2' name="DOB" placeholder='Date of Birth' id="" required>
                </div>
                
                <div class="form-group mt-2">
                    <select class='form-control' name="member" id="" required>
                        <option selected value="">Select MemberShip Plan</option>
                        {% for p in Membership %}
                        
                        <option value="{{p.plan}} - {{p.price}}">{{p.plan}} - {{p.price}} Rs</option>
                        
                        
                        {% endfor %}
                    </select>
                </div>
                
                
                
                <div class="form-group mt-2">
                    <select class='form-control' name="trainer" id="" required>
                        <option selected value="">Select Trainer</option>
                        {% for p in SelectTrainer %}
                        
                        <option value="{{p.name}}">{{p.name}}</option>
                        
                        
                        {% endfor %}
                    </select>
                </div>
                
                
                <div class="form-group mt-2">
                    <input type="text" class='form-control' name="reference" placeholder='Refered By' id="">
                </div>
                
                
                <div class="form-group mt-2">
                    <input type="text" class='form-control' name="address" placeholder='Address' id="">
                </div>
                
                
                
               <br>
                
                <div class="d-grid gap-2">
                    <button class="btn btn-warning" type='submit'>Enroll</button>
                </div>
                
            </form>
            
            
            
            
        </div>
    </div>
</div>




{% endblock %}